@use 'variaveis';
@use 'hero';
@use 'sobre';
@use 'header';
@use 'trailer';
@use 'personagens';
@use 'oasis';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;

    @media (max-width:767px) {
        max-width: 90vh;
        overflow-x: hidden;
    }
}